.home {
  @extend %center;
  @extend %page;

  //background: $color-contessa;
  //color: $color-quarter-spanish-white;
  overflow: hidden;
  text-align: center;

  &:before,
  &:after {
    content: '';
    height: 24rem;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &:before {
    background: linear-gradient(to bottom, $color-contessa 0%, rgba($color-contessa, 0) 100%);
    top: 0;
  }

  &:after {
    background: linear-gradient(to top, $color-contessa 0%, rgba($color-contessa, 0) 100%);
    bottom: 0;
  }
}

.home__wrapper {

}

.home__titles {
  @extend %vertical-titles;
}

.home__titles__label {
  @extend %vertical-titles__label;
}

.home__titles__title {
  @extend %vertical-titles__title;
}

.home__gallery {
  @extend %cover;

  top: -40rem;
  height: unset;
  left: 50%;
  transform: translateX(-50%);
  padding: 2.5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5rem;
  visibility: hidden;
}

.home__gallery__media {
  width: 100%;

  &:nth-child(5n + 2) {
    transform: translateY(10rem);
  }

  &:nth-child(5n + 3) {
    transform: translateY(30rem);
  }

  &:nth-child(5n + 4) {
    transform: translateY(20rem);
  }

  &:nth-child(5n + 5) {
    transform: translateY(40rem);
  }
}

.home__gallery__media__image {
  opacity: 1;
  width: 100%;
}

.home__link {
  @extend %description-14;

  align-items: center;
  bottom: 5rem;
  display: flex;
  height: 6rem;
  justify-content: center;
  left: 50%;
  letter-spacing: 0.05rem;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 28.8rem;
  z-index: 2;

  @include media('<phone') {
    bottom: 7.5rem;
    height: 13.7rem;
    width: 55rem;
  }
}

.home__link__icon {
  @extend %cover;
}
